<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% @trainer.pokemons.each do |p| %>
  Name: <%= p.name %>
  <br>
  Level: <%= p.level %>
  <br>
  Health: <%= p.health %>
  <br>
  <br>
  <%= button_to "Damage", damage_path(id: p), :class => "button small", :method => :patch %>

<% end %>

<%= button_to "Give birth to a pokemon.", new_pokemon_path, :class => "button medium", :method => :get %>
